<div class="col-md-6 col-md-offset-3">
    <h2>Register a new account:</h2>
    <hr>
    <div class="well">
        <form role="form" ng-submit="vm.register()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="vm.account.username" placeholder="ex. john" />
                 <p><small>*Username cannot be change later.</small></p>
            </div>

            <div class="form-group">
                <label for="displayName">Diaplay Name</label>
                <input type="text" class="form-control" id="displayName" ng-model="vm.account.displayName" placeholder="ex. john123" />
            </div>

            <div class="form-group">
                <label for="facebook">Facebook</label>
                <input type="text" class="form-control" id="facebook" ng-model="vm.account.facebook" placeholder="ex. john_haha" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="vm.account.password" placeholder="ex. password123" />
            </div>

            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/#/login" class="btn btn-primary pull-right" >Cancel</a>
            </div>
        </form>
    </div>
</div>
